html, body {
  height: 100%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: red;
  &__element {
    background-color: green;
    color: white;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    &--modifier {
      background-color: blue;
    }
  }
}